---
---

{% include header.html %}
{% include postheader.html info=site.data.latest %}
{% include postpages.html %}

{{ content }}

{% if site.data.latest.wordofthemonth %}
  <h2>Word of the Month: {{ site.data.latest.wordofthemonth }}</h2>
{% endif %}

{% if site.data.latest.belatedbirthdays %}
  <h2>Happy Belated Birthday!</h2>
  <ul>
  {% for birthday in site.data.latest.belatedbirthdays %}
    <li>{{ birthday.name }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% if site.data.latest.birthdays %}
  <h2>Happy Birthday!</h2>
  <ul>
  {% for birthday in site.data.latest.birthdays %}
    <li>{{ birthday.name }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% if site.data.latest.weekendbirthdays %}
  <h2>Happy Weekend Birthday!</h2>
  <ul>
  {% for birthday in site.data.latest.weekendbirthdays %}
    <li>{{ birthday.name }}</li>
  {% endfor %}
  </ul>
{% endif %}

{% if site.data.latest.events %}
  <h2>Upcomming events:</h2>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
    </thead>
    <tbody>
      {% for event in site.data.latest.events  %}
        <tr>
          <td>{% if event.datechange %}<span class="label label-danger">Date Change</span> {% endif %}{{ event.name }}</td>
          <td>{{ event.date }}</td>
	  <td>{{ event.time }}</td>
	  <td>{{ event.location }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% for announcement in site.data.latest.announcements %}
  {% include announcement.html announcement=announcement %}
{% endfor %}

{% include postpages.html %}
{% include footer.html %}
