---
layout: screen
overrideheader: "30px"
---

<div class="alert alert-danger visible-xs-block visible-sm-block" role="alert">
  <strong>Warning:</strong> This page does not work yet on small screens.
  Please increase your screen size until this message disappears.
  <br>
  If you are on a screen that can't increase the size any more, such as a mobile phone,
  go to <a class="alert-link" 
  href="{{ site.github.url | replace_first:'http://','https://' }}/latest.html">
  the latest announcements</a> or 
  <a class="alert-link" 
  href="{{ site.github.url | replace_first:'http://','https://' }}/slides.html">the slideshow</a>.
  Both have the same information.
</div>

<div class="visible-md-block visible-lg-block">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-md-9">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ site.github.url | replace_first:'http://','https://' }}/slides.html"></iframe>
        </div>
      </div>
      <div class="col-md-3">
        <iframe src='https://hilliardschools.gofmx.com/embed/calendar?search=&buildings=49057&view=agenda' 
          style='width: 92.5%; height: 100%; border: 2px solid #e6e6e6; border-radius: 4px; position: absolute;'>
        </iframe>
      </div>
    </div>
    <hr>
    <div class="marquee">
      <span class="label label-default">
        <i class="fa fa-ellipsis-v"></i>
      </span>
      <span class="label label-info">
        <i class="fa fa-github-square"></i>
        Site Metadata
      </span>
      <span class="label label-default">
        <i class="fa fa-ellipsis-v"></i>
      </span>
      <span class="label label-default">
        <i class="fa fa-clock-o"></i>
        Last Updated: {{ site.time | date: '%B %d, %Y' }}
      </span>
      <span class="label label-default">
        <i class="fa fa-ellipsis-v"></i>
      </span>
      <span class="label label-default">
        <i class="fa fa-git-square"></i>
        Commit: {{ site.github.build_revision | slice: 0,6}}
      </span>
      <span class="label label-default">
        <i class="fa fa-ellipsis-v"></i>
      </span>
      {% for header in site.data.scroll.header %}
        <span class="label label-default">
          <i class="fa fa-ellipsis-v"></i>
        </span>
        <span class="label label-{{ header.type | default: 'default' }}">
          {% if header.icon %} 
            <i class="fa fa-{{ header.icon }}"></i>
          {% endif %}
          {{ header.title }}
        </span>
        {% for item in header.scroll %}
          <span class="label label-default">
            <i class="fa fa-ellipsis-v"></i>
          </span>
          <span class="label label-{{ item.type | default: 'default' }}">
            {% if header.icon %} 
              <i class="fa fa-{{ item.icon }}"></i>
            {% endif %}
            {{ item.text }}
          </span>
        {% endfor %}
      {% endfor %}
      <span class="label label-default">
        <i class="fa fa-ellipsis-v"></i>
      </span>
    </div>
  </div>
</div>
