---
---

{% include slidesheader.html %}


  <div class="reveal">
    <div class="slides">
      {% if site.pages.latest.wordofthemonth %}
        <section><h2>Word of the Month: {{ site.pages.latest.wordofthemonth }}</h2></section>
      {% endif %}
      {% if site.pages.latest.belatedbirthdays %}
        <section>
          <h2>Happy Belated Birthday!</h2>
          <ul>
          {% for birthday in site.pages.latest.belatedbirthdays %}
            <li>{{ birthday.name }}</li>
          {% endfor %}
          </ul>
        </section>
      {% endif %}
      {% if site.pages.latest.birthdays %}
        <section>
          <h2>Happy Birthday!</h2>
          <ul>
          {% for birthday in site.pages.latest.birthdays %}
            <li>{{ birthday.name }}</li>
          {% endfor %}
          </ul>
        </section>
      {% endif %}

      {% if site.pages.latest.events %}
        <section>
          <h2>Upcomming events:</h2>
          <table>
            <thead>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Location</th>
            </thead>
            <tbody>
              {% for event in site.pages.latest.events  %}
                <tr>
                  <td>{% if event.datechange %}<span class="label label-danger">Date Change</span> {% endif %}{{ event.name }}</td>
                  <td>{{ event.date }}</td>
            <td>{{ event.time }}</td>
            <td>{{ event.location }} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      {% endif %}

      {% for announcement in site.pages.latest.announcements %}
        <section>
          {% include announcement.html announcement=announcement %}
        </section>
      {% endfor %}
    </div>
  </div>

{% include slidesfooter.html %}
